<h2>Log in</h2>
<br/><br/><br/><br/>
<br/><br/>
<div class="lead">
<p>Esté é o app Banking!</p>
<p>Informe suas credenciais abaixo:</p>
</div>
<br/><br/>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row g-3 align-items-center">
  <div class="field">
    <%= f.label :Conta %><br />
    <%= f.text_field :account %>
  </div>
  <div class="field">
    <%= f.label :Senha %><br />
    <%= f.password_field :password, autocomplete: "current-password" %><br/>
  </div>
    <br/>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :Salvar_senha? %>
    </div>
  <% end %>
    <br/>
  <div class="actions">
    <%= f.submit "Log in", class:"btn btn-lg btn-secondary fw-bold border-white bg-dark" %>
  </div>
<% end %>
</div>
    <br/><br/><br/><br/>
  <%= link_to "Voltar", root_path, class:"btn btn-sm btn-secondary fw-bold border-white bg-dark" %>
