<h2>Cadastrar <u>Cliente:</u></h2>
  <br/><br/>
<%= form_for(resource, as: resource_name, url: client_registration_path, html: { 'data-turbo': false }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :Nome %><br/>
    <%= f.text_field :username %>
    <br/>
  </div>
    <br/>
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <br/>
  </div>
    <br/>
  <div class="field">
    <%= f.label :account %><br/>
    <%= f.text_field :account %>
    <br/>
  </div>
    <br/>
  <div class="field">
    <%= f.label :Senha %>
    <br/>
    <% if @minimum_password_length %>
    <em>(No mímimo <%= @minimum_password_length %> caracteres.)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <br/>
  </div>
    <br/>
  <div class="field">
    <%= f.label :Confirme_sua_senha %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    <br/>
  </div>
   
  <div class="actions">
    <br/><br/>
    <%= f.submit "Sign up", class:"btn btn-lg btn-secondary fw-bold border-white bg-dark", data: {turbo: false} %>
  </div>
<% end %>

