    <h1>Olá <%= current_client.username %>!</h1><br/>
    <div class="lead">
      <p>Seja bem vindo ao App Banking!</p><br/>
      <p>Seu acesso foi criado pelo Admin usando o app Gerente.</p><br/>
      <p>Clique no botão abaixo para ganhar muito <u>dinheiro!</u></p><br/><br/>
      <%= link_to "Clique aqui!", home_joke_path, class:"btn btn-lg btn-secondary fw-bold border-white bg-dark" %><br/>
    </div>
      <br/><br/><%= link_to "Sair", destroy_client_session_path, class:"btn btn-lg btn-secondary fw-bold border-white bg-dark" %> <br/>


