<div class="position-absolute top-50 start-50 translate-middle">
<h1>Parabéns!</h1><br/><br/>
<p class="lead">Você acaba de ganhar um <strong>BILHÃO</strong> de reais imaginários! </p><br /><br /><br />
<%= link_to "Voltar", root_path, class:"btn btn-sm btn-secondary fw-bold border-white bg-dark" %>
</div>
