<div class="position-absolute top-50 start-50 translate-middle">

<h1>Cliente cadastrado com sucesso!</h1><br/>
<div class="lead">

  <p>Informe seu cliente as credenciais para acessar o Internet Banking!</p><br/><br/>

  
    
  <%= link_to "Novo Cliente", new_client_registration_path, class:"btn btn-lg btn-secondary fw-bold border-white bg-dark" %><br/>
</div>
  <br/><br/><%= link_to "Sair", destroy_user_session_path, class:"btn btn-lg btn-secondary fw-bold border-white bg-dark" %> <br/>
