<div class="position-absolute top-50 start-50 translate-middle">


<% if user_signed_in? %>
<h1>Olá <%= current_user.username %>!</h1><br/>
<div class="lead">
  <p>Seja bem vindo ao App Gerente!</p><br/>
  <p>Para criar acesso ao App Banking para seu cliente, clique no botão abaixo.</p><br/><br/>
  <%= link_to "Cadastrar Cliente", new_client_registration_path, class:"btn btn-lg btn-secondary fw-bold border-white bg-dark" %><br/>
</div>
  <br/><br/><%= link_to "Sair", destroy_user_session_path, class:"btn btn-lg btn-secondary fw-bold border-white bg-dark" %> <br/>
<% else %>
  <div class="lead"><h1>Bem vindo.</h1><br/><br/><br/>
  <%= link_to "Log in", new_user_session_path, class:"btn btn-lg btn-secondary fw-bold border-white bg-dark" %>
<%end%>
